@charset "utf-8";

/* - - - - - - - - - general setting - - - - - - - - - */

body {
        font-size: 16px;
        line-height: 1.5;
        font-family: 'Esteban', serif;
}

.gradient {
	/* GRADIENT */
	background: #b2d236; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2IyZDIzNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMzOWI1NGEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, #b2d236 0%, #39b54a 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b2d236), color-stop(100%,#39b54a)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #b2d236 0%,#39b54a 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #b2d236 0%,#39b54a 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #b2d236 0%,#39b54a 100%); /* IE10+ */
	background: linear-gradient(top bottom, #b2d236 0%,#39b54a 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b2d236', endColorstr='#39b54a',GradientType=0 ); /* IE6-8 */
}

/* - - - - - - - - - footer setting - - - - - - - - - */

footer {
        width: auto;
	height:90px;
	color:#FFF;
	border-top:4px solid #39B54A;
	padding:20px 40px;
}
footer ul li{
	display:inline;
	color:#FFF;
}
footer ul li a{
	color:#FFF;
}
#footerTopL {
    float: left  
}
#footerTopR {
    float: right;   
}
.footerL {
	vertical-align:middle;
}
.footerL li {
	padding-right:18px;
	padding-left:10px;
	
}
.floatRfooter {
	float:right;
	padding-right:20px;
}
img#youtube, #twitter, #rss, #linkedin, #google, #facebook{
	float:right;
	vertical-align:middle;
}
.textCenter {
	text-align:center;
	padding-left:300px;
}
.border {
        width: 100%;
	padding-top:10px 20px 20px 20px;
	border-bottom:2pt dotted #FFF;
        float: left;
}
#footerBottom {
	padding:10px 0 0 10px;	
        float: left;
}