/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* - - - - - - - - - end reset - - - - - - - - - */


/* - - - - - - - - - general setting - - - - - - - - - */

.wrapper {
    margin: 0 auto;
    width: 910px;
}
#carousel{
    width:840px;
    height:230px;
    padding:15px 30px;
    margin-top: 40px;

    /* ROUND CORNER */
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    /* GRADIENT */
    background: #b2d236; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2IyZDIzNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMzOWI1NGEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, #b2d236 0%, #39b54a 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b2d236), color-stop(100%,#39b54a)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #b2d236 0%,#39b54a 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #b2d236 0%,#39b54a 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #b2d236 0%,#39b54a 100%); /* IE10+ */
    background: linear-gradient(to bottom, #b2d236 0%,#39b54a 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b2d236', endColorstr='#39b54a',GradientType=0 ); /* IE6-8 */
}
#directions{
    width:840px;
    height:230px;
}
.galleryTitle{
    float:left;
    padding-bottom: 15px;
    color:#39B54A;
    font-size: 24px;
}
.peagalleryL{
    vertical-align: middle;
    padding-right:8px;
}
.peagalleryR{
    vertical-align: middle;
    padding-left:8px;
}
.number {
    position:relative;
    top:100px;
    right:100px;
}
.step{
    position:absolute;
}
.borderBM{
    width:910px;
    height:auto;
    padding-bottom:60px;
    border-bottom:2px dotted #39B54A;
}
#uploader {
    margin-top:20px;
    color: #39B54A;
    font-size:18px;
    line-height: 30px;
}
#cookingdirection{
    margin-top:60px;
    padding-bottom: 20px;
    vertical-align:middle;
    color: #39B54A;
    font-size:18px;
    border-bottom:2px dotted #39B54A;
}
.cookdesc{
    padding-right:10px;
    vertical-align:middle;
    margin-bottom:8px;
}
.roundbutton {
    width:80px;
    height:35px;
    color:#FFF;
    background-color: #F7931E;
    font-weight:bold;
    font-size:16px;
    text-align:center;
    border:0px;
    /* roundcorner */
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
input[type="radio"] {
    display:inline-block;
    width:20px;
    height:20px;
    color: #39B54A;
}
input[type="radio"]:checked {
    background: #39B54A;
}

