#content {
    margin: 0 50px 25px 50px; 
    width: 910px; 
    height: auto; 
    float: left;
}
#leftSearchSM {
    width:375px;
    height:130px;
    margin:35px 50px 25px 0;
    float:left;
    padding:25px 25px;
}
#searchKeywordSM, #searchIngredientSM, #searchStyleSM {
    width: 140px;
    height: 30px;
    padding-left:15px;
    margin-left:15px;

}
.gradientSeachSM {
    /* GRADIENT */
    background: #b2d236; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2IyZDIzNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMzOWI1NGEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, #b2d236 0%, #39b54a 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b2d236), color-stop(100%,#39b54a)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #b2d236 0%,#39b54a 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #b2d236 0%,#39b54a 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #b2d236 0%,#39b54a 100%); /* IE10+ */
    background: linear-gradient(to bottom, #b2d236 0%,#39b54a 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b2d236', endColorstr='#39b54a',GradientType=0 );
    /* Round Corner */
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
#searchRecipeSM {
    width:100px;
    height:30px;
    background-color:#F7931E;
    color:#FFF;
    border:0px;
    font-size:16px;
}
#searchTitleSM {
    border-bottom:2px dotted #FFF;
    padding:0 15px 5px 15px;
}
#searchTitleSM li {
    float:left;
    color:#FFF;
    font-size:20px;
}
#recipeWSM {
    vertical-align:text-top;
    padding-left:5px;
}
#searchRecipeSM {
    float:right;
    margin-right:20px;
    margin-top:15px;
}
#leftFormSM {
    margin-top:10px;
}

/* - - rightsearch - -  */
#rightSearchSM {
    width:375px;
    height:130px;
    margin:35px 0 25px 0;
    float:left;
    /*border:1px solid red;*/
    padding:25px 25px;
}
#dictionaryWSM {
    vertical-align:text-top;
    padding-left:5px;
}
#searchTitleRSM {
    border-bottom:2px dotted #FFF;
    padding:0 15px 5px 15px;
}
#searchTitleRSM li {
    float:left;
    color:#FFF;
    font-size:20px;
}
#rightFormSM {
    margin-top:10px;
}
#dictonaryCountrySM, #dictionaryMenuSM {
    width: 140px;
    height: 30px;
    padding-left:15px;
    margin-left:15px;
}
#searchDictionarySM {
    float:right;
    margin-right:25px;
    margin-top:15px;
    width:100px;
    height:30px;
    background-color:#F7931E;
    color:#FFF;
    border:0px;
    font-size:16px;

}
.borderBM{
    width:910px;
    height:auto;
    padding-bottom:60px;
    border-bottom:2px dotted #39B54A;
}
