@charset "utf-8";

/* - - - - - - - - - general setting - - - - - - - - - */
.wrapper {
	width:1280px;
        height: auto;
	margin:0 auto;
	background-color:#FFFCD5;
	border-left:1px solid #39B54A;
	border-right:1px solid #39B54A;
        clear: both;
}

body {
        font-family: 'Esteban', serif;
}

.clearfix:after{
	content:"";
	display:block;
	clear:both;
	height:0;
}

.clearfix{
	display:block;
}

#content {
    margin: 15px 20px 25px 0; 
    width: 100%; 
    height: auto; 
    float: right;
}

/* - - - - - - - - - search link setting - - - - - - - - - */
#head_footer {
    width: 100%;
    float: right;
    clear: left;  
}

#slide {
	float:right;
	background-color:#39B54A;
	width:125px;
	height:20px;
	font-size:16px;
	font-weight:bold;
	color:#FFF;
	padding:5px 5px;
	vertical-align:bottom;
}
#slide li {
	float:left;
	padding:0 10px;
}
#slide a{
	color:#FFF;
}
#arrow {
	float:left;
	padding-top:5px;
	
}
.borderVertical {
	border-right:1.5pt dotted #FFF;
}


